

*{
	box-sizing:	border-box;
}

.form-container{
	width: 800px;
	/* height:500px; */
	margin: 30px auto 25px;
	background-image: url("images/img2.jpg");
	background-size	:cover;
	overflow: hidden;
	animation-name: slideInLeft;
	animation-duration: 5s;
     filter: blur(0.2px); 
	

}
.login-form{
	width: 450px;
	/* height:400px; */
	margin: 50px auto 25px;
	transition: width 2s,border-radius 2s;

	border-radius: 0;
	padding:50px;
	background :rgba(0,0,0,0.5);
}

.login-form input{
	width:70%;
	padding-left:20px;
	margin-bottom: 30px;
	height:35px;	
	border : none;
	
}

.login-form p{
	margin:0;
	padding:0;
}
.login-form	::placeholder{
	text-transform: capitalize;
	font-family: 'Titillium Web', sans-serif;
}

.login-form button {
	width:30%;
	height: 35px;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	
	border: 1px dotted #fff;
	background: steelblue;
	color: #fff;
	cursor: pointer;
}

.login-form button:hover{
	background:#000;
	color:steelblue;
	border-radius: 25px;
}


  h1 {

	text-align: center;
	animation-name: slideInLeft;
	animation-duration: 3s;

	
  }
  .login-form:hover{
	border-radius: 70%;
	/* width: 700px; */
		
	}
  /* @keyframes color-animate {
	0% {
	  opacity: 0.2;
	
	  color:blue;
	  
	}
  
	20% {
	  opacity: 0.4;
		color: #fff;
	  
	}
	40% {
		opacity: 0.6;
	  
		color:red;
		
	  }
	
	  60% {
		opacity: 0.8;
		  color:#333;
		
	  }
	  80% {
		opacity: 0.9;
	  
		color:blue;
		
	  }
	
	  100% {
		opacity: 1;
		  color: #ddd;
		
	  }

  }
   */
   
  @keyframes slideInLeft {
	from {
	  -webkit-transform: translate(-45%);
	  transform: translate(-45%);
	  visibility: visible;
	}
  
	to {
	  -webkit-transform: translate(0, 0);
	  transform: translate(0, 0);
	}
  }
  
	